# macOS
.DS_Store

# Ignore all files in submodules directory
# Only git submodules defined in .gitmodules should be tracked
submodules/**/*

# But don't ignore the submodule directories themselves
!submodules/
!submodules/*/
!submodules/*/*/

# Ignore vendored gems
vendor/
!vendor/submoduler_*/

# Ignore hidden
hide/

# Ignore tmp directories globally
**/tmp/
